<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Happy Birthday Pattu ❤️</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>

<audio id="bgMusic" loop preload="auto">
<source src="{{ url_for('static',filename='audio/birthday_song.mp3') }}" type="audio/mpeg">
</audio>

<div id="stars"></div>

<section id="welcomeScreen" class="screen active">

<div class="card">

<h1>Happy<br>Birthday</h1>

<h2>Alla Mahima Kumari</h2>

<p>

A magical birthday journey has been created especially for you.

Click below and let the surprise begin.

</p>

<button id="beginBtn">
Begin Journey ❤️
</button>

</div>

</section>
<section id="puppyScreen" class="screen">

<div class="card puppy-card">

<img
id="puppyImage"
src="{{ url_for('static',filename='images/puppy_happy.png') }}">

<h2>Hello... ❤️</h2>

<p id="puppyText">

I'm Pattu's little birthday helper.

Before opening the surprise,

I need to make sure you're really her.

</p>

<button onclick="goToLogin()">

Continue →

</button>

</div>

</section>

<section id="loginScreen" class="screen">

<div class="card">

<h1>Login</h1>
<img id="loginPuppy"
src="{{ url_for('static',filename='images/puppy_happy.png') }}"
style="width:170px;margin-bottom:20px;">
<input id="username" placeholder="Enter Your Name">

<input id="password" type="password" placeholder="Password">

<button onclick="login()">
Unlock Surprise
</button>

<p id="error"></p>

</div>

</section>

<script src="{{ url_for('static',filename='js/app.js') }}"></script>

</body>
</html>